<div class="grid kt-container-fixed grid-cols-3 gap-4">
  <div class="col-span-1">
    <vrw-transaction-filter></vrw-transaction-filter>
  </div>
  <div class="col-span-2">
    @if (transactionStore.isLoading()) {
      <div class="mt-auto flex flex-col items-center justify-between gap-3">
        <p-progress-spinner
          ariaLabel="Loading"
          class="size-11! shrink-0! [&_.p-progressspinner-circle-range]:stroke-emerald-300! [&_.p-progressspinner-circle-track]:stroke-emerald-100/15! [&_.p-progressspinner-value]:hidden!"
        />
        <p class="text-sm text-muted-foreground">Cargando...</p>
      </div>
    }@else{
      <vrw-transactions-list></vrw-transactions-list>
    }
  </div>
</div>
