<div class="flex items-start sm:items-center justify-between p-4 dark:bg-zinc-900 bg-white rounded-[2rem] shadow-sm border border-gray-100 dark:border-zinc-800 hover:shadow-md transition-shadow gap-3">

  <div class="flex items-start sm:items-center gap-3 sm:gap-4 flex-1 min-w-0">
    <div
      class="flex items-center justify-center w-12 h-12 rounded-full shrink-0"
      [style.color]="textColor()"
      [style.background-color]="bgColor()"
    >
      <i class="ki-filled ki-calendar text-3xl"></i>
    </div>
    <div class="flex flex-col flex-1 min-w-0">
      <span class="text-base font-semibold dark:text-white text-black leading-tight break-words">
        {{ note() | titlecase }}
      </span>
      <span class="text-sm font-medium text-gray-500 mt-0.5 truncate">
        {{transaction().date | date}} &bull; {{transaction().category.name}}
      </span>
    </div>
  </div>
  <div class="flex flex-col items-end gap-1.5 shrink-0 mt-1 sm:mt-0 max-w-[40%]">
    <span class="text-base font-bold text-gray-700 dark:text-gray-300">
      {{operationSign()}} {{transaction().amount | currency}}
    </span>
    <div class="flex flex-wrap justify-end gap-1.5">
        <span
          class="px-2.5 py-0.5 text-[10px] font-bold tracking-wide uppercase rounded-full truncate max-w-full"
          [style.color]="textColor()"
          [style.background-color]="bgColor()">
          {{transaction().account.name}}
        </span>
      <span class="px-2.5 py-0.5 text-[10px] font-bold tracking-wide text-gray-500 uppercase bg-gray-100 dark:bg-zinc-800 rounded-full shrink-0">
          Completed
        </span>
    </div>
  </div>
</div>
