<div class="kt-card kt-card-accent w-full">
  <div class="kt-card-header">
    <div class="kt-card-heading">
      <h2 class="kt-card-title">My accounts</h2>
    </div>
    <div class="kt-card-toolbar">
      <button 
          routerLink="/accounts/create"
          type="button"
          class="kt-btn kt-btn-xs kt-btn-outline kt-btn-icon">
        <i class="ki-filled ki-additem"></i>
      </button>
    </div>
  </div>
  <div class="kt-card-content py-1">
    @for (account of accounts(); track account.id){
      <app-account-item [account]="account" />
    }
  </div>
</div>
